extends ../main-frame
include ../events/all-categories-page

block content
    .text-center
        form.form-inline(action="/search" method="GET")
            input.form-control(type="text" name="pattern" value=params.pattern)
            button.btn.btn-danger Search
    +ski-event-list(model.events)