extends main-frame.pug

block content
    .container-fluid
        .row
            .col-md-4.col-md-offset-4.text-center
                form.form-add-event(action="/categories/add-event/ski" method="post")
                    h2.form-add-event-heading Add new event in ski.
                    br
                    label.sr-only(for='title') Title
                    input.form-control(type='text', placeholder='add title', name="title" required='', autofocus='')
                    //label.sr-only(for='author') Author
                    //input.form-control(type='text', placeholder='Author', name="author" required='', autofocus='')
                    label.sr-only(for='body') Text
                    input.form-control(type='text', placeholder='add text', name="body" required='', autofocus='')

                    br
                    button.btn.btn-md.btn-success.btn-block(type='submit') Add