<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Extreme Sports
    
    link(rel="stylesheet", href="/res/css/bootstrap.css")
    link(rel="stylesheet", href="/res/css/main.css")
    link(rel="stylesheet", href="/res/css/toastr.css")
    block styles
            
    script(src="/res/lib/jquery.js")
    script(src="/res/lib/bootstrap.js")
    script(src="/res/lib/toastr.js")
    block scripts
    
body

.navbar.navbar-default.navbar-fixed-top.relative
    .container
        .navbar-header
            a.navbar-brand(href='/home') Extreme Sports
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href="/home") Categories
                li
                    a(href="/events") Events
                li
                    a(href="/stories") Stories
                li
                    a(href="/gallery") Gallery
            ul.nav.navbar-nav.navbar-right
                if !user
                    li
                        a(href="/login") Login
                    li
                        a(href="/register") Register
                else                    
                    li
                        a(href="/profile") Profile
                    li
                        a#btn-logout(href="/logout") Logout
           
#content.container-full
    block content           
                    
script(src="/res/js/requester.js")
script(src="/res/js/users/user-auth.js")
script(src="/res/js/gallery/add-photo.js")
