extends my-profile.pug

block rightSide
    .col-md-6.text-center
        form.form-signin(action="/update-info" method="post")
            h2.form-signin-heading Update Info
            br
            label.sr-only(for='username') First Name
            input.form-control(type='text', placeholder='First Name', name="firstName", autofocus='')
            label.sr-only(for='username') Last Name
            input.form-control(type='text', placeholder='Last Name', name="lastName", autofocus='')
            label.sr-only(for='username') Age
            input.form-control(type='text', placeholder='Age', name="age", autofocus='')                    
            label.sr-only(for='username') Gender
            input.form-control(type='text', placeholder='Gender', name="gender", autofocus='')
            label.sr-only(for='username') E-Mail
            input.form-control(type='email', placeholder='E-Mail', name="email", autofocus='')
            br 
            button.btn.btn-md.btn-success.btn-block(type='submit') Update
