extends main-frame.pug

block styles
    link(href="/res/css/events.css", rel="stylesheet")

block content
    .container-fluid
        .row
            .col-md-4.col-md-offset-1.text-left
                //h2.form-signin-heading Contacts
                h1 Contacts
                    h2 We are a small students community... :)
                br
                ul.contacts
                    | <hr>
                    li
                        .name-box
                            img(src='https://scontent.fsof3-1.fna.fbcdn.net/t31.0-8/10476335_826609370690879_7734627846685467590_o.jpg')
                        h2 Dimitar Pechev
                        ul
                            li Telerik Academy system: dimpechev
                            li GitHub profile: dimitar-pechev
                            li mail: email@email.com
                            ='\n'
                    | <hr>
                    li
                        .name-box
                            img(src='https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/418011_3563537370020_3706416_n.jpg?oh=de8660314463b6ae02c59f20d2cf4d0c&oe=58F53195')
                        h4 Niya Keranova
                        ul
                            li Telerik Academy system: Nayata
                            li GitHub profile: Nayaata
                            li mail: n.m.keranova@gmail.com
                            ='\n'
                    | <hr>
                    li
                        .name-box
                            img(src='https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/13626407_211226185939578_4222996509384359103_n.jpg?oh=5a723a3c1be723312097bb53525d31c2&oe=58FA2A25')
                        h4 Alexander Topliiski
                        ul
                            li Telerik Academy system: persssi
                            li GitHub profile: MikeSteiner
                            li mail: email@email.com
                            ='\n'
                    | <hr>
                    li
                        .name-box
                            img(src='https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/13729132_1256561044362895_6168310137658167351_n.jpg?oh=3116a635871f5e090981ca1f17869a93&oe=58F8AD63')
                        h4 Toshko Popov
                        ul
                            li Telerik Academy system: tabula
                            li GitHub profile: tpopov94
                            li mail: email@email.com
