extends main-frame.pug

block styles
    link(href="/res/css/events.css", rel="stylesheet")

block content

    .col-md-10.col-md-offset-1
        .row.text-left
            h1 We are a small students community,...

            p forced to create this app. Idea came from NaYa but we all are sort of extreme fans.
                | Our terms of condition are very simple, we ca do whatever we want with the data posted here ;)
                | If you are a ski, cycle or a snowboard fan, feel free to sign up and share here your ideas and experience.

            .name-box
                img(src='https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/418011_3563537370020_3706416_n.jpg?oh=de8660314463b6ae02c59f20d2cf4d0c&oe=58F53195')
                h2 NaYa
            .name-box
                img(src='https://scontent.fsof3-1.fna.fbcdn.net/t31.0-8/10476335_826609370690879_7734627846685467590_o.jpg')
                h2 Dimitar
            .name-box
                img(src='https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/13626407_211226185939578_4222996509384359103_n.jpg?oh=5a723a3c1be723312097bb53525d31c2&oe=58FA2A25')
                h2 Mike

