.gallery-single-photo > img {
    max-width: 100%;
} 

.gallery-thumb {
    height: 14em;
}

.gallery-thumb img {
    height: 100%;
}

.panel-footer > p {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1em;
}