.gallery-single-photo > img {
    max-width: 100%;
} 

.gallery-thumb {
    height: 14em;
}

.gallery-thumb img {
    height: 100%;

}
footer .hideFooter {
    display:none;
}

.gallery {
    height: 50px;
}

.galleryContent{
    height: 1000px;
}
}

.panel-footer > p {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1em;

