body {
    padding-top: 5em;
}
.banner-extra-styles{
    width: 70%;
    padding: 5px 10px 3px 10px;
    background-color: white;
    border: 1px solid darkgray;
}

.ski-banner{
    display: inline-block;
    width: 70%;
    background-color: lightgrey;
    border: 1px solid darkgray;
}

.ski-event{
    display: inline-block;
    width: 70%;
    margin: 2px 10px 2px 0px;
    padding: 2px 2px 2px 10px;
    background-color: whitesmoke;
    border: 1px solid lightblue;
}

.ski-event img, a {
    margin-right: 10px;
}

.main-container-wrapper {
    display: block;
    margin: 0;
    width: 70%;
    padding: 5px 10px 3px 10px;
    background-color: white;
    border: 1px solid darkgray;
}

.home-page-picture{
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 80%;
    margin: 10px 5px 10px 5px;
    padding: 10px 5px 10px 5px;
    border: 1px solid blue;
}

.home-page-picture img{
    /*width: 80%;*/
    /*height: 80%;*/
    width: 280px;
    height: 200px;
    border: 1px solid blue;
}
.main-button-wrapper{
    margin: 5px;
    padding: 0px;
}

.single-event-banner{
    width: 70%;
    marging: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid darkgray;
}
.event-with-detail-draw-wrapper {
    margin-top: 5px;
    padding: 5px 10px 3px 10px;
    width: 70%;
    background-color: white;
    border: 1px solid darkslategrey;
}
.event-with-detail-draw-wrapper-author {
    margin: 5px;
    padding: 5px;
    border: 0px solid darkslategrey;
}
.event-with-detail-draw-wrapper-buttons {
    text-align: right;
    margin: 5px;
    padding: 5px;
    background-color: gainsboro;
}
.event-with-detail-draw-wrapper-event-draw-body {
    margin: 5px;
    padding: 5px;
}

.event-with-detail-comments {
    text-align: left;
    width: 70%;
    margin: 5px;
    padding: 5px;
}

