extends ../main-frame

block content
    //-----------------------------------------------
    // Declarations start
    mixin link(href, name)
        .button-wrapper
            a(class!=attributes.class href=href)= name

    mixin ski-event(event)
        .ski-event
            - var id = event._id
            - var title = event.title
            - var url = '/events/' + id
            - var src = '/res/images/ski-main.jpg'
            img(src=src, width=30, height=30, alt="extreme-sports-event-main-picture")
            a(href=url)= title

            = '\n'

    //-Declarations end

    //-----------------------------------------------
    //-Page content start
    //h3 'logged in user:' + #{user}

    .ski-banner.banner-extra-styles
        img.left(src="/res/images/ski-main.jpg", width=300 alt="extreme-sports-ski")
        span All events for ski, bike, snowboard, where you can create and check new events?!

    each event in events
        +ski-event(event)

